.item {
    position: relative;
}

.menu {
    position: absolute;
    left: -50%;
    top: calc(100% + var(--space-sm));

    background: var(--color-surface-base);
    border: 1px solid var(--color-border-default);

    white-space: nowrap;

    display: flex;
    flex-direction: column;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.menu::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 100%;
    left: 0;
    height: var(--space-sm);
}

.visible,
.item:hover .menu,
.item:focus-within .menu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.link {
    padding-block: var(--space-md);
    padding-inline: var(--space-lg);

    display: block;
}

.list-item:hover,
.list-item:focus-within {
    background: var(--color-surface-reflective);
}

.button {
    display: flex;
    gap: var(--space-2xs);
}