.mobile-nav {
    position: fixed;
    top: var(--header-height-mobile);
    left: 0;
    right: 0;
    bottom: 0;

    background: var(--color-surface-base);

    display: flex;
    flex-direction: column;
    gap: 0;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.nav-content {
    width: min(calc(100% - 2 * var(--layout-gutter)), var(--layout-content-header));
    margin-inline: auto;
}

.item {
    border-bottom: 1px solid var(--color-border-default);
}

.dropdown-item {

}

.item > a {
    min-height: var(--space-3xl); /* 64px */

    font-weight: var(--font-weight-semibold);

    display: flex;
    align-items: center;
}

.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

@media (min-width: 769px) {
    .mobile-nav {
        display: none;
    }
}