.button {
    width: 100%;
    min-height: var(--space-3xl); /* 64px */

    border-bottom: 1px solid var(--color-border-default);

    font: inherit;
    font-weight: var(--font-weight-semibold);

    display: flex;
    align-items: center;
    justify-content: space-between;

    text-align: left;
    cursor: pointer;
}

.button svg {
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
}

.link {
    min-height: var(--space-2xl);
    padding-left: var(--space-lg);

    display: flex;
    align-items: center;
}

.menu {
    border-bottom: 1px solid var(--color-border-default);
}