.arrival {
    width: 100%;
}

.content {
    width: min(calc(100% - 2 * var(--layout-gutter)), var(--layout-content-default));
    margin-inline: auto;
    padding-block: var(--space-4xl);
}

.introduction {
    padding-block-end: var(--space-2xl);

    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.eyebrow {
    color: var(--gold-500);
}

.layout {
    display: grid;

    grid-template-areas: "details map";
    grid-template-columns: 1fr 1fr;
    gap: var(--space-3xl);
}

.details {
    grid-area: details;

    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

.address {
    font-style: normal;

    display: flex;
    flex-direction: column;
    gap: var(--space-2xs);
}

.map {
    grid-area: map;
    width: 100%;
    aspect-ratio: 668 / 430;

    background: var(--color-surface-reflective);
}

@media (max-width: 768px) {
    .layout {
        grid-template-areas: "map" "details";
        grid-template-columns: 1fr;

        gap: var(--space-xl);
    }
}