.action {
    padding: 18px 24px;
}

.primary {
    background: var(--color-action-primary-background);
    color: var(--color-action-primary-text);
}

.secondary {
    background: var(--color-action-secondary-background);
    border: 1px solid var(--color-action-secondary-border);
    color: var(--color-action-secondary-text);
}

.inverse {
    background: var(--color-action-inverse-background);
    color: var(--color-action-inverse-text);
}